body {
  color:$color_black;
}



/*@font-face {
  font-family: gotham;
  src:url(fonts/Gotham-Medium.otf);
}

@font-face {
  font-family: gotham;
  src:url(fonts/Gotham-Light.otf);
  font-weight:lighter;
}
*/
